.square{
    position: relative;
    width: 100px;
    height: 100px;
    background-color: darkgray;
}

.relative-box {
    position: relative;
    background-color: navy;
    top: 10px;
    left: 10px;
}

/* 부모에게 relative 주고 자식에게 absolute 주면 편하게 움직일 수 있다. TIP */
.absolute-box {
    position: absolute;
    background-color: chocolate;
    top : 30px;
    left: 30px;
}

.fixed {
    position: fixed;
    background-color: coral;
    bottom: 0px;
    left: 0px;
    height: 20px;
}

/* 무조건 부모의 z인덱스를 따라간다... z인덱스 : 색종이 어떤게 젤 앞에 싹다보이나.. 숫자클수록 앞으로 */
.z-index-1 {
    background-color: brown;
    top: 300px;
    left: 300px;
    z-index: 4;
}

.z-index-2 {
    background-color: darkgreen;
    top: 350px;
    left: 350px;
    z-index: 5;
}

.z-index-3 {
    background-color: lime;
    top: 400px;
    left: 400px;
    z-index: 1;
}
