.big-box {
    position: relative;
    margin: 100px auto 500px;
    border: 5px solid black;
    width: 500px;
    height: 500px;
  }
  
  .small-box {
    width: 100px;
    height: 100px;
  }
  
  #red {
    background-color: red;
    position: absolute;
    bottom: 0px;
    right: 0px
  }
  
  #gold {
    background-color: gold;
    position : fixed;
    bottom : 50px;
    right :50px;
    /* 브라우저의 하단에서 50px, 우측에서 50px 위치에 고정하기 */
  }
  
  #green {
    background-color: green;
    position: absolute;
    top: 200px;
    left: 200px;
  }
  
  #blue {
    background-color: blue;
    /* relative를 사용 */
    position : relative;
    left : 100px;
    top : 100px;

  }
  
  #pink {
    background-color: pink;
    position : absolute;
    top : 0px;
    left : 0px;
    
  }

  #purple {
      background-color: purple;
      position : absolute;
      left:100px;
      top : 100px;
  }

  #orange {
      background-color: orange;
      position : absolute;
      bottom : 100px;
      left : 100px;
  }