{% extends 'base.html' %} 
{% load static %} 
{% block title %}영화{% endblock %} 

{% block css %}
<link rel="stylesheet" href="{% static '/detail/stylesheets/index.css' %}" type="text/css" />
{% endblock%} 

{% block body %}
<header>
    <h1>Header</h1>
</header>

<footer class="fixed-bottom">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">SSAFY</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link text-primary" href="#">상단으로 올라가기</a>
            </div>
        </div>
    </nav>
</footer>


{% endblock %}
