{% extends 'base.html' %} {% load static %} {% block title %}My page{% endblock %} {% block body %}

<div class="container">
    <div class="row">
        <div class="col col-6 ">
            <div class="card m-0 position-fixed" >
                <img class="card-img-top rounded-circle" src="{% static 'detail/images/bono.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">bono@gmail.com</p>
                    <p class="card-text">cute bonobono</p>
                    <a href="#" class="btn btn-primary">logout</a>
                </div>
            </div>
        </div>
        <div class="col col-6">
            <div class="card m-0" style="width: 100%;">
                <img class="card-img-top" src="{% static 'detail/images/lake.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">작성글</h5>

                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card m-0" style="width: 100%;">
                <img class="card-img-top" src="{% static 'detail/images/lake.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">작성글</h5>

                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card m-0" style="width: 100%;">
                <img class="card-img-top" src="{% static 'detail/images/lake.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">작성글</h5>

                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card m-0" style="width: 100%;">
                <img class="card-img-top" src="{% static 'detail/images/lake.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">작성글</h5>

                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

    </div>
</div>



















{% endblock %}
